%h1 THE Wedding Site

%p
  Normally, this page would contain a ton of cool stuff about whoever's wedding
  it is.

%h2 Here to RSVP?

= link_to 'RSVP Here!', controller: 'rsvps', action: 'find_rsvp'

-# = link_to 'Click here to RSVP!', controller: 'rsvps', action: 'new'
