%h1 New rsvp

%h2
  Hello! You're here because you got an invitation.
  %br
  Just fill out the form below to let us know if you're coming.

%p We either can't wait to see you, or you're dead to us!

=render 'form'
